<h1>About LeBlog</h1>
<p>This blog was built by Cristian using Ruby on Rails!</p>
<img src="https://pbs.twimg.com/profile_images/378800000799475043/1d250856b575d2aab96fca694fc50c1c_400x400.jpeg" style="border-radius:50px; width:200px" >
