<h1 id="search">All Posts</h1>

  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Post Title</th>
        <th>Preview</th>
        <th>Comments</th>
      </tr>
    </thead>
    <% @posts.each do |post| %>
    <tbody>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.body_snippet %></td>
        <td class="text-center"><%= post.comments.count %></td>
      </tr>
    </tbody>
    <% end %>
  </table>


<div class="pagination center-block text-center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
