// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1#search {
    display: inline-block;
}

form#search-form {
    display: inline-block;
    float: right;
    margin-right: 70px;
}

input#search {
    height: 30px;
    font-size: 1.2em;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  padding-left: 10px !important;
  height: 45px !important;
}

h1.panel-title {
    font-size: 36px;
}
h2.panel-title {
    font-size: 30px;
}
h3.panel-title {
    font-size: 24px;
}
h4.panel-title {
    font-size: 18px
}
h5.panel-title {
    font-size: 14px
}
h6.panel-title {
    font-size: 10px;
}

#post-index-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.comment-gradient {
  background: rgb(254,255,255);
  background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 100%);
  background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ddf1f9',GradientType=0 );

}
